<input type="checkbox" id="menu-toggle" />

<nav id="navbar">
  <div class="nav-container">
    <a href="#" class="logo">Israa Alaa</a>

    <label for="menu-toggle" class="menu-btn">☰ Menu</label>

    <ul class="nav-links">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#connect">Connect</a></li>
    </ul>

    <div class="nav-buttons">
      <a routerLink="/dashboard" routerLinkActive="active" class="btn-nav btn-admin">Admin Dashboard</a>
    </div>
  </div>
</nav>
